html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
}

header {
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  text-align: center;
}

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 3rem 8rem 1fr;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.filters {
  display: flex;
  justify-content: flex-end;

  ul {
    padding-left: 0;
    display: flex;

    li {
      background-color: #e2e2e2;
      list-style-type: none;
      margin: 0 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 15px;

      img {
        width: 100px;
        transform: rotateY(180deg);
      }

      div {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.filter-span {
  display: none;
}

.sneakers-list {
  .sneakers-list-th,
  .sneakers-list-td {
    display: grid;
    grid-template-columns: 2rem 1fr 8rem 8rem;
    background-color: #e2e2e2;
    padding: 5px;
  }
  .sneakers-list-td {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
  }
  .sneakers-list-name {
    text-align: left;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
